.customNav {
  position: fixed;
  width: 100%;
  background: black;
  background-image: linear-gradient(
    rgba(6, 31, 18, 0.3) 0%,
    rgba(6, 46, 27, 0.6) 100%
  );
  background-size: cover;
  z-index: 10; 
  color: black;
} 
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}



/* Navigation links */
.customNav a {
  color: white !important;
}
.navCTA {
  font-size: 15px;
  
}


.jumbotron {
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  background-color: green;
  padding-top: 10px;
  padding-bottom: 10px;
}
#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p{
color: #fff;
margin: 15px 0 0 0;
font-size: 26px;
font-family: "Poppins", sans-serif;
}

.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}

.skills-section {
  padding-top: 2rem;
}

.subsectionHeading{
  text-align:start;
}
.progress-bar{
  background-image: linear-gradient(to bottom , rgb(201, 201, 98), green);
}
/* Cards */

.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
.card-title {
  margin-bottom: 2rem;
}
.content {
  padding: 50px;
}
.sectionHeading {
  text-align: center;
}

.heading  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
}


.contact-section {
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}
.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: rgb(139, 30, 30);
}

.bg-black {
  background-color: #000000 !important;
}


footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #fdcc52;
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}


.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}


